
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 0;
  color: #333;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #333;
}

.logo {
  margin-top: 50px;
  margin-bottom: 15px;
  background: none;
  text-align: center;
}

ul {
  padding: 0px 20px;
}

.post-description {
  text-align: center;
  color: #888;
}

.header {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding: 4px;
  line-height: 26px;
}

h1 {
  text-decoration: none;
  color: #333;
  margin-top: 40px;
}

h1 a {
  color: #333;
}

h1 a:hover {
  text-decoration: none;
}

.page-content {
  margin-left: auto;
  font-weight: 200;
  margin-right: auto;
  margin-bottom: 120px;
  width: 959px;
  font-size: 20px;
  line-height: 36px;
}

li {
  margin-left: 28px;
}

.pull-right {
  float: right;
}

.indent-paragraph {
  margin: 40px 40px 10px 40px;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .page-content {
    width: 768px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .page-content {
    width: 480px;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .page-content {
    width: 360px;
  }
}
