<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="page-content">
          <div class="site">
            <div class="header">
              <h1 class="logo"><a href="/">{{ site.name }}</a></h1>
              <div class="post-description">Web Developer: Ruby, Rails, JS, Backbone, etc</div>
              <ul>
                <li><a class="extra" href="/">home</a></li>
                <li><a class="extra" href="/projects">projects</a></li>
              </ul>
              
            </div>
     
                {{ content }}

            <div class="footer">
                <p>
                  {{ my_name }}<br />
                  Web Developer<br />
                  kellenhart@gmail.com
                </p>
                <p>
                  <a href="http://github.com/kdavh/">github.com/kdavh</a><br>
                  <a href="http://linkedin.com/in/kdavh">
                    linkedin.com/in/kdavh
                  </a><br>
                </p>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
